<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.Department202044020Mapper">
		
	<select id="getTime" resultType="string">
		select now()
	</select>
	
	<insert id="insertDepartment202044020">
		insert into tbl_202044020_department (deptid, deptname, count, classname) values
		( #{deptid}, #{deptname}, #{count}, #{classname})
	</insert>
	
	<select id="selectDepartment202044020" resultType="com.inhatc.domain.Department202044020VO">
      select * from tbl_202044020_department where deptid = #{deptid}
   </select>
   
   <update id="update" >
   		update tbl_202044020_department set deptname=#{deptname}, count=#{count}, classname=#{classname}
   		where deptid=#{deptid}
   </update>
   
   <delete id="delete">
   		delete from tbl_202044020_department 
   		where deptid=#{deptid}
   </delete>
   
   <select id="listCount" resultType="int">
   		select count(*) from tbl_202044020_department
   </select>
   
   <select id="listAll" resultType="com.inhatc.domain.Department202044020VO">
   <![CDATA[
   		select deptid, deptname, count, classname
   		from tbl_202044020_department
   ]]>
   </select>
</mapper>